// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Typography
// - Embed font
// - Primary bold (Airbnb Cereal App - Bold)
// - Primary medium (Airbnb Cereal App - Medium)
// - Secondary bold (Sukhumvit - Bold)
// - Tertiary regular (Sarabun - Regular)
// - Tertiary semibold (Sarabun - SemiBold)
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Embed font
// ============================================================

// Airbnb Cereal App
// ------------------------------------------------

// Medium
@font-face {
  font-family: $font-family-primary-medium;
  src: url('#{$path-file-fonts-primary-medium}.eot');
  src: url('#{$path-file-fonts-primary-medium}.eot') format('embedded-opentype'),
       url('#{$path-file-fonts-primary-medium}.woff') format('woff'),
       url('#{$path-file-fonts-primary-medium}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Bold
@font-face {
  font-family: $font-family-primary-bold;
  src: url('#{$path-file-fonts-primary-bold}.eot');
  src: url('#{$path-file-fonts-primary-bold}.eot') format('embedded-opentype'),
       url('#{$path-file-fonts-primary-bold}.woff') format('woff'),
       url('#{$path-file-fonts-primary-bold}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Sukhumvit
// ------------------------------------------------

// Bold
@font-face {
  font-family: $font-family-secondary-bold;
  src: url('#{$path-file-fonts-secondary-bold}.eot');
  src: url('#{$path-file-fonts-secondary-bold}.eot') format('embedded-opentype'),
       url('#{$path-file-fonts-secondary-bold}.woff') format('woff'),
       url('#{$path-file-fonts-secondary-bold}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Sarabun
// ------------------------------------------------

// Regular
@font-face {
  font-family: $font-family-tertiary-regular;
  src: url('#{$path-file-fonts-tertiary-regular}.eot');
  src: url('#{$path-file-fonts-tertiary-regular}.eot') format('embedded-opentype'),
       url('#{$path-file-fonts-tertiary-regular}.woff') format('woff'),
       url('#{$path-file-fonts-tertiary-regular}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// SemiBold
@font-face {
  font-family: $font-family-tertiary-semibold;
  src: url('#{$path-file-fonts-tertiary-semibold}.eot');
  src: url('#{$path-file-fonts-tertiary-semibold}.eot') format('embedded-opentype'),
       url('#{$path-file-fonts-tertiary-semibold}.woff') format('woff'),
       url('#{$path-file-fonts-tertiary-semibold}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Primary
//
// Medium
// @include typography-primary-medium-10();
// @include typography-primary-medium-12();
// @include typography-primary-medium-14();
// @include typography-primary-medium-16();
// @include typography-primary-medium-18();
// @include typography-primary-medium-20();
// @include typography-primary-medium-22();
// @include typography-primary-medium-24();
//
// Bold
// @include typography-primary-bold-10();
// @include typography-primary-bold-12();
// @include typography-primary-bold-14();
// @include typography-primary-bold-16();
// @include typography-primary-bold-18();
// @include typography-primary-bold-20();
// @include typography-primary-bold-22();
// @include typography-primary-bold-24();
//
// ============================================================
@mixin typography-primary() {
  display: inline-block;
  font-weight: normal;
  line-height: $line-height-primary;
}

// Primary medium
// ------------------------------------------------
@mixin typography-primary-medium-10() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-10;
}

@mixin typography-primary-medium-12() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-12;
}

@mixin typography-primary-medium-14() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-14;
}

@mixin typography-primary-medium-16() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-16;
}

@mixin typography-primary-medium-18() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-18;
}

@mixin typography-primary-medium-20() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-20;
}

@mixin typography-primary-medium-22() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-22;
}

@mixin typography-primary-medium-24() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-24;
}

// Primary bold
// ------------------------------------------------
@mixin typography-primary-bold-10() {
  @include typography-primary;
  font-family: $font-family-primary-bold;
  font-size: $font-size-primary-10;
}

@mixin typography-primary-bold-12() {
  @include typography-primary;
  font-family: $font-family-primary-bold;
  font-size: $font-size-primary-12;
}

@mixin typography-primary-bold-14() {
  @include typography-primary;
  font-family: $font-family-primary-bold;
  font-size: $font-size-primary-14;
}

@mixin typography-primary-bold-16() {
  @include typography-primary;
  font-family: $font-family-primary-bold;
  font-size: $font-size-primary-16;
}

@mixin typography-primary-bold-18() {
  @include typography-primary;
  font-family: $font-family-primary-bold;
  font-size: $font-size-primary-18;
}

@mixin typography-primary-bold-20() {
  @include typography-primary;
  font-family: $font-family-primary-bold;
  font-size: $font-size-primary-20;
}

@mixin typography-primary-bold-22() {
  @include typography-primary;
  font-family: $font-family-primary-bold;
  font-size: $font-size-primary-22;
}

@mixin typography-primary-bold-24() {
  @include typography-primary;
  font-family: $font-family-primary-bold;
  font-size: $font-size-primary-24;
}

// Secondary
//
// Bold
// @include typography-secondary-bold-10();
// @include typography-secondary-bold-12();
// @include typography-secondary-bold-14();
// @include typography-secondary-bold-16();
// @include typography-secondary-bold-18();
// @include typography-secondary-bold-20();
// @include typography-secondary-bold-22();
// @include typography-secondary-bold-24();
//
// ============================================================
@mixin typography-secondary() {
  display: inline-block;
  font-weight: normal;
  line-height: $line-height-secondary;
}

// Secondary bold
// ------------------------------------------------
@mixin typography-secondary-bold-10() {
  @include typography-secondary;
  font-family: $font-family-secondary-bold;
  font-size: $font-size-secondary-10;
}

@mixin typography-secondary-bold-12() {
  @include typography-secondary;
  font-family: $font-family-secondary-bold;
  font-size: $font-size-secondary-12;
}

@mixin typography-secondary-bold-14() {
  @include typography-secondary;
  font-family: $font-family-secondary-bold;
  font-size: $font-size-secondary-14;
}

@mixin typography-secondary-bold-16() {
  @include typography-secondary;
  font-family: $font-family-secondary-bold;
  font-size: $font-size-secondary-16;
}

@mixin typography-secondary-bold-18() {
  @include typography-secondary;
  font-family: $font-family-secondary-bold;
  font-size: $font-size-secondary-18;
}

@mixin typography-secondary-bold-20() {
  @include typography-secondary;
  font-family: $font-family-secondary-bold;
  font-size: $font-size-secondary-20;
}

@mixin typography-secondary-bold-22() {
  @include typography-secondary;
  font-family: $font-family-secondary-bold;
  font-size: $font-size-secondary-22;
}

@mixin typography-secondary-bold-24() {
  @include typography-secondary;
  font-family: $font-family-secondary-bold;
  font-size: $font-size-secondary-24;
}

// Tertiary
//
// Regular
// @include typography-tertiary-regular-10();
// @include typography-tertiary-regular-12();
// @include typography-tertiary-regular-14();
// @include typography-tertiary-regular-16();
// @include typography-tertiary-regular-18();
// @include typography-tertiary-regular-20();
// @include typography-tertiary-regular-22();
// @include typography-tertiary-regular-24();
//
// Bold
// @include typography-tertiary-bold-10();
// @include typography-tertiary-bold-12();
// @include typography-tertiary-bold-14();
// @include typography-tertiary-bold-16();
// @include typography-tertiary-bold-18();
// @include typography-tertiary-bold-20();
// @include typography-tertiary-bold-22();
// @include typography-tertiary-bold-24();
//
// ============================================================
@mixin typography-tertiary() {
  display: inline-block;
  font-weight: normal;
  line-height: $line-height-tertiary;
}

// Tertiary regular
// ------------------------------------------------
@mixin typography-tertiary-regular-10() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-regular;
  font-size: $font-size-tertiary-10;
}

@mixin typography-tertiary-regular-12() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-regular;
  font-size: $font-size-tertiary-12;
}

@mixin typography-tertiary-regular-14() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-regular;
  font-size: $font-size-tertiary-14;
}

@mixin typography-tertiary-regular-16() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-regular;
  font-size: $font-size-tertiary-16;
}

@mixin typography-tertiary-regular-18() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-regular;
  font-size: $font-size-tertiary-18;
}

@mixin typography-tertiary-regular-20() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-regular;
  font-size: $font-size-tertiary-20;
}

@mixin typography-tertiary-regular-22() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-regular;
  font-size: $font-size-tertiary-22;
}

@mixin typography-tertiary-regular-24() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-regular;
  font-size: $font-size-tertiary-24;
}

// Tertiary semibold
// ------------------------------------------------
@mixin typography-tertiary-semibold-10() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-semibold;
  font-size: $font-size-tertiary-10;
}

@mixin typography-tertiary-semibold-12() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-semibold;
  font-size: $font-size-tertiary-12;
}

@mixin typography-tertiary-semibold-14() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-semibold;
  font-size: $font-size-tertiary-14;
}

@mixin typography-tertiary-semibold-16() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-semibold;
  font-size: $font-size-tertiary-16;
}

@mixin typography-tertiary-semibold-18() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-semibold;
  font-size: $font-size-tertiary-18;
}

@mixin typography-tertiary-semibold-20() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-semibold;
  font-size: $font-size-tertiary-20;
}

@mixin typography-tertiary-semibold-22() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-semibold;
  font-size: $font-size-tertiary-22;
}

@mixin typography-tertiary-semibold-24() {
  @include typography-tertiary;
  font-family: $font-family-tertiary-semibold;
  font-size: $font-size-tertiary-24;
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
