// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Variables
// * Path files
// * Colors
// * Font families
// * Font sizes
// * Line heights
// * Letter spacings
// * Z indexs
// * Transition
// * Animation timings
// * Border radiuses
// * Box shadows
// * Components
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Path files
// ============================================================
$path-file-images: '../images' !default;
$path-file-fonts: '../fonts' !default;
$path-file-fonts-primary-bold: '../fonts/poppins/poppins-bold' !default;
$path-file-fonts-primary-medium: '../fonts/poppins/poppins-medium' !default;
$path-file-fonts-secondary-bold: '../fonts/sukhumvit/sukhumvit-bold' !default;
$path-file-fonts-tertiary-regular: '../fonts/sarabun/Sarabun-Regular' !default;
$path-file-fonts-tertiary-semibold: '../fonts/sarabun/Sarabun-SemiBold' !default;
$path-file-contents: '../images/contents' !default;
$path-file-icons: '../images/icons' !default;
$path-file-logos: '../images/logos' !default;

// Colors
// ============================================================
$color-black: #000000 !default;
$color-white: #FFFFFF !default;
$color-gray-1: #535353 !default;
$color-gray-2: #9F9F9F !default;
$color-gray-3: #EFEFEF !default;
$color-gray-4: #E8E8E8 !default;
$color-gray-5: #F4F4F4 !default;
$color-gray-6: #F0F0F0 !default;
$color-gray-7: #FAFAFA !default;
$color-gray-8: #D9D9D9 !default;
$color-gray-9: #C6C6C6 !default;
$color-red-1: #FD5859 !default;
$color-red-2: #FFDEDE !default;
$color-red-3: #FFF8F8 !default;
$color-blue-1: #1B9AF7 !default;
$color-blue-2: #048CEC !default;
$color-green-1: #62AA68 !default;
$color-orange-1: #F8A60B !default;
$color-primary: $color-red-1 !default;
$color-placeholder: $color-gray-8 !default;
$color-overlay-1: rgba(32, 17, 17, 0.44) !default;

// Font families
// ============================================================
$font-family-primary-bold: Poppins Bold !default;
$font-family-primary-medium: Poppins Medium !default;
$font-family-secondary-bold: Sukhumvit Bold !default;
$font-family-tertiary-regular: Sarabun Regular !default;
$font-family-tertiary-semibold: Sarabun Bold !default;

// Font sizes
// ============================================================
// Primary body
$font-size-primary-10: 10px !default;
$font-size-primary-12: 12px !default;
$font-size-primary-14: 14px !default;
$font-size-primary-16: 16px !default;
$font-size-primary-18: 18px !default;
$font-size-primary-20: 20px !default;
$font-size-primary-22: 22px !default;
$font-size-primary-24: 24px !default;

// Secondary body
$font-size-secondary-10: 10px !default;
$font-size-secondary-12: 12px !default;
$font-size-secondary-14: 14px !default;
$font-size-secondary-16: 16px !default;
$font-size-secondary-18: 18px !default;
$font-size-secondary-20: 20px !default;
$font-size-secondary-22: 22px !default;
$font-size-secondary-24: 24px !default;

// Tertiary body
$font-size-tertiary-10: 10px !default;
$font-size-tertiary-12: 12px !default;
$font-size-tertiary-14: 14px !default;
$font-size-tertiary-16: 16px !default;
$font-size-tertiary-18: 18px !default;
$font-size-tertiary-20: 20px !default;
$font-size-tertiary-22: 22px !default;
$font-size-tertiary-24: 24px !default;

// Line heights
// ============================================================
$line-height-primary: 1.3 !default;
$line-height-secondary: 1.3 !default;
$line-height-tertiary: 1.3 !default;

// Letter spacings
// ============================================================
$letter-spacing-primary: normal !default;
$letter-spacing-secondary: normal !default;
$letter-spacing-tertiary: normal !default;

// Z indexs
// ============================================================
$z-index-1: 1 !default;
$z-index-2: 9 !default;
$z-index-3: 99 !default;
$z-index-4: 999 !default;
$z-index-5: 9999 !default;
$z-index-6: 99999 !default;

// Transition
// ============================================================
$transition-default: all 0.3s ease !default;

// Animation timings
// ============================================================
$animation-timing-elastic: cubic-bezier(.835, -.005, .06, 1) !default;

// Border radiuses
// ============================================================
$border-radius-5: 5px !default;
$border-radius-10: 10px !default;

// Box shadows
// ============================================================
$box-shadow-1: 0 0 20px rgba(0, 0, 0, 0.1) !default;
$box-shadow-2: 0 0 5px rgba(0, 0, 0, 0.1) !default;
$box-shadow-3: 0 3px 7px rgba(0, 0, 0, 0.15) !default;

// Components
// ============================================================
$button-height: 50px;
$button-small-height: 30px;
$button-medium-height: 40px;
$modal-width: 645px;
$input-height: 50px;
$input-small-height: 30px;
$select-height: 50px;
$select-small-height: 50px;
