// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Action bar
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.actionbar {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid $color-gray-4;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .actionbar-section {
    &.is-left {
      flex: none;
    }

    &.is-right {
      position: relative;
      top: -9px;
    }
  }

  .actionbar-text {
    &.is-month {
      @include typography-primary-bold-24;
      color: $color-gray-1;
    }

    &.is-date-year {
      @include typography-primary-bold-24;
      color: $color-gray-2;
    }
  }

  .actionbar-button {
    transition: $transition-default;
    cursor: pointer;

    &:active {
      opacity: 0.75;
    }

    &.is-all {
      min-width: 72px;
    }

    &.is-filter {
      min-width: 110px;
    }
  }

  .actionbar-calendar {
    overflow: hidden;
    position: relative;
    width: 42px;
    height: 42px;

    // air datepicker plugin
    .datepicker-here {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      z-index: $z-index-1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
