// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Air datepicker
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

.air-datepicker {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  animation-name: fadeIn;
  animation-duration: 0.3s;
  overflow: auto;
  position: fixed;
  z-index: $z-index-5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .air-datepicker-position-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }

  .air-datepicker-container {
    animation-name: moveUp;
    animation-duration: 0.3s;
    position: relative;
    z-index: $z-index-2;
    width: 100%;
    max-width: 410px;
    margin: 30px;
  }

  .air-datepicker-overlay {
    position: fixed;
    z-index: $z-index-1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-overlay-1;
  }

  .air-datepicker-input {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    z-index: $z-index-1;
    top: 0;
    left: 0;
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-active {
    display: block;
  }

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

.air-datepicker-control-container {
  max-width: 410px;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.air-datepicker-control {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include typography-primary-medium-16;
  width: 100%;
  background-color: $color-gray-3;
  border: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: $color-gray-1;


  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .datepicker--nav {
    padding: 40px 30px 27px;
    border-bottom: none;
  }

  .datepicker--nav-action {
    &:hover {
      background: transparent;
    }

    &[data-action=prev] {
      svg {
        left: -5px;
      }
    }

    &[data-action=next] {
      svg {
        right: -5px;
      }
    }

    svg {
      position: relative;
      top: -2px;
    }

    path {
      stroke: $color-gray-1;
    }
  }

  .datepicker--nav-title {
    @include typography-primary-bold-20;

    &:hover {
      background: transparent;
    }

    i {
      @include typography-primary-bold-20;
      color: $color-gray-1;
    }
  }

  // Container day / month / year
  .datepicker--content {
    padding: 0 17px 8px;
  }

  .datepicker--body {
    &.datepicker--days {}

    &.datepicker--months {}

    &.datepicker--years {}
  }

  // Week
  .datepicker--days-names {
    margin: 0 0 8px;
  }

  .datepicker--day-name {
    @include typography-primary-medium-12;
    color: $color-gray-2;
  }

  // Cell day / month / year
  .datepicker--cells {
    &.datepicker--cells-day {}

    &.datepicker--cells-month {}

    &.datepicker--cells-year {}
  }

  .datepicker--cell {
    &:hover {
      background-color: $color-gray-8;
    }

    &.-selected- {
      background-color: $color-primary;
    }

    &.-current- {
      color: $color-primary;
    }

    &.datepicker--cell-day {
      height: 53px;
      border-radius: 27px;

      &.-selected- {
        color: $color-white;
      }

      &.-range-from- {
        background: url('../images/shares/bg-day-from.svg') no-repeat;
        background-size: cover;
        border: none;
        border-radius: 0;
        color: $color-white;

        &:after {
          // content: ' ';
          // position: absolute;
          // z-index: $z-index-1;
          // top: 0;
          // right: 0;
          // display: block;
          // width: 30px;
          // height: 100%;
          // background-color: $color-red-2;
        }
      }

      &.-in-range- {
        background-color: $color-red-2;
        border-radius: 0;
      }

      &.-range-to- {
        background: url('../images/shares/bg-day-to.svg') no-repeat;
        background-size: cover;
        border: none;
        border-radius: 0;
        color: $color-white;
      }
    }

    &.datepicker--cell-month {
      &.-selected- {
        color: $color-white;
      }
    }

    &.datepicker--cell-year {
      &.-selected- {
        color: $color-white;
      }
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.datepicker {
    box-shadow: none;
  }

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

.air-datepicker-control-footer {
  position: relative;
  padding: 12px 35px 25px;
  background-color: $color-gray-3;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: $z-index-1;
    top: 0;
    right: 30px;
    left: 30px;
    height: 1px;
    background-color: $color-gray-9;
  }
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
