// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Badge
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.badge {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $button-height;
  padding: 0 20px;
  border: 2px solid $color-primary;
  border-radius: 26px;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .badge-text {
    &.is-label {
      @include typography-primary-medium-12;
      color: $color-gray-2;
    }

    &.is-info {
      @include typography-secondary-bold-14;
      color: $color-primary;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-all {
    min-width: 72px;
    text-align: center;
  }

  &.is-status {
    height: 28px;
    padding: 0 7px;
    border: none;
    border-radius: 14px;

    .badge-text {
      &.is-info {
        color: $color-white;
      }
    }
  }

  &.is-status-red {
    background-color: $color-primary;
  }

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
