// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Bulma custom components
// - Button
// - Contianer
// - Section
// - Field
// - Select
// - Input
// - Checkbox
// - Panel
// - Table
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.bulma-custom {
  // Button
  // ============================================================
  .button {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include typography-primary-medium-16();
    transition: $transition-default;
    height: $button-height;
    padding: 0 20px;
    background-color: $color-primary;
    border: none;
    border-radius: 10px;
    color: $color-white;

    &:active {
      opacity: 0.75;
    }

    &:focus {
      box-shadow: none;
    }

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    .button-text {
      display: inline-block;

      &.is-filter {
        position: relative;
        top: 2px;
        margin-left: 10px;
      }
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-fluid {
      width: 100%;
    }

    &.is-th {
      @include typography-secondary-bold-16();
    }

    &.is-icon {
      min-width: 56px;
      padding-right: 0;
      padding-left: 0;
    }

    &.is-light-gray {
      background-color: $color-gray-4;
    }

    &.is-gray {
      background-color: $color-gray-3;
      color: $color-gray-1;
    }

    &.is-dark-gray {
      background-color: $color-gray-2;
    }

    &.is-red {
      background-color: $color-primary;
    }

    &.is-green {
      background-color: $color-green-1;
    }

    &.is-blue {
      background-color: $color-blue-1;
    }

    &.is-outline {
      background-color: transparent;
      border-width: 2px;
      border-style: solid;
      border-radius: 26px;

      &.is-outline-primary,
      &.is-outline-primary-square {
        border-color: $color-primary;
        color: $color-primary;
      }

      &.is-outline-primary-square {
        border-radius: 10px;
      }
    }

    &.is-small {
      @include typography-primary-medium-12();
      height: $button-small-height;
      padding: 0 12px;
      border-radius: 4px;

      &.is-curve-border {
        border-radius: 15px;
      }

      &.is-th {
        @include typography-secondary-bold-12();
      }
    }

    &.is-medium {
      @include typography-primary-medium-12();
      height: $button-medium-height;
      padding: 0 12px;
      border-radius: 4px;

      &.is-curve-border {
        border-radius: 20px;
      }

      &.is-th {
        @include typography-secondary-bold-12();
      }
    }

    &.is-disabled {
      pointer-events: none;
      background-color: $color-gray-3;
    }

    &.is-see-attach-file {
      min-width: 90px;
    }

    &.is-form-login {
      min-width: 80px;
      border-radius: 10px;
    }

    &.is-back {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      padding: 0;
      background-color: $color-white;
      border: none;
      border-radius: 18px;
      box-shadow: $box-shadow-3;
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Contianer
  // ============================================================
  .container {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-content {
      overflow: auto;
      min-height: calc(100vh - 90px);
      padding: 0 45px;
      margin: 45px 0;

      @media (max-width: 1024px) {
        width: 1024px;
      }
    }

    &.is-content-mobile {
      max-width: 474px;
      padding: 50px 30px 110px;
      margin: auto;
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Section
  // ============================================================
  .section {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-reset {
      padding: 0;
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Column
  // ============================================================
  .columns {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    flex-wrap: wrap;

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    .column {
      &.is-narrow {
        flex: none
      }
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-reset {
      display: flex;
      margin: 0;

      .column {
        padding: 0;
      }
    }

    &.is-nowrap {
      flex-wrap: nowrap;
    }

    &.is-fluid {
      width: 100%;
    }

    &.is-right {
      justify-content: flex-end;
    }

    &.is-space-between {
      justify-content: space-between;
    }

    &.is-vertical-center {
      align-items: center;
    }

    &.is-vertical-bottom {
      align-items: flex-end;
    }

    // Gutter
    &.is-gutter-5 {
      margin-left: -5px;

      > .column {
        padding-left: 5px;
      }
    }

    &.is-gutter-10 {
      margin-left: -10px;

      > .column {
        padding-left: 10px;
      }
    }

    &.is-gutter-15 {
      margin-left: -15px;

      > .column {
        padding-left: 15px;
      }
    }

    &.is-gutter-20 {
      margin-left: -20px;

      > .column {
        padding-left: 20px;
      }
    }

    &.is-gutter-25 {
      margin-left: -25px;

      > .column {
        padding-left: 25px;
      }
    }

    &.is-gutter-30 {
      margin-left: -30px;

      > .column {
        padding-left: 30px;
      }
    }

    // Gutter vertical
    &.is-gutter-vertical-10 {
      margin-bottom: -10px;

      > .column {
        padding-bottom: 10px;
      }
    }

    &.is-gutter-vertical-15 {
      margin-bottom: -15px;

      > .column {
        padding-bottom: 15px;
      }
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Field
  // ============================================================
  .field {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:not(:last-child) {
      margin-bottom: 0;
    }

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    .label {
      @include typography-primary-bold-12;
      color: $color-gray-2;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    .label-th {
      @include typography-secondary-bold-12;
      color: $color-gray-2;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-label {
      margin-bottom: 15px;
    }

    &.is-field-line {
      .label,
      .label-th {
        margin-bottom: 0;
      }
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }


  // Select
  // ============================================================
  .select {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:not(.is-multiple) {
      height: auto;

      &:not(.is-loading) {
        &:after {
          right: 20px;
          width: 8px;
          height: 8px;
          margin-top: -5px;
          border: 2px solid transparent;
          border-top: 0;
          border-right: 0;
          border-radius: 2px;
          border-color: $color-gray-2;
        }
      }
    }

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    select {
      @include typography-primary-medium-16;
      height: $select-height;
      border-color: $color-gray-8;
      border-radius: 25px;
      color: $color-gray-1;

      &:not([multiple]) {
        padding-right: 45px;
        padding-left: 25px;
      }

      &:focus {
        box-shadow: none;
      }
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-fluid {
      width: 100%;

      select {
        width: 100%;
      }
    }

    &.is-small {
      select {
        height: $select-small-height;
      }
    }

    &.is-line-blue,
    &.is-line-gray {
      &:not(.is-multiple) {
        &:not(.is-loading) {
          &:after {
            right: 10px;
          }
        }
      }

      select {
        height: auto;
        padding-top: 5px;
        padding-right: 25px;
        padding-bottom: 4px;
        padding-left: 0;
        border: none;
        border-radius: 0;
      }
    }

    &.is-line-blue {
      select {
        border-bottom: 1px solid $color-blue-1;
      }
    }

    &.is-line-gray {
      select {
        border-bottom: 1px solid $color-gray-4;
      }
    }

    &.is-value-blue {
      select {
        color: $color-blue-1;
      }
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Input
  // ============================================================
  .input {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include typography-primary-medium-16;
    height: $input-height;
    padding-right: 25px;
    padding-left: 25px;
    border-color: $color-gray-8;
    border-radius: 25px;
    color: $color-gray-1;
    box-shadow: none;

    &::-moz-placeholder {
      color: $color-placeholder;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $color-placeholder;
    }

    &::-webkit-input-placeholder {
      color: $color-placeholder;
    }

    &::placeholder {
      color: $color-placeholder;
    }

    &:focus {
      box-shadow: none;
    }

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-small {
      height: $input-small-height;
    }

    &.is-line-blue,
    &.is-line-gray {
      height: auto;
      padding-top: 5px;
      padding-right: 0;
      padding-bottom: 4px;
      padding-left: 0;
      border: none;
      border-radius: 0;
    }

    &.is-line-blue {
      border-bottom: 1px solid $color-blue-1;
    }

    &.is-line-gray {
      border-bottom: 1px solid $color-gray-4;
    }

    &.is-info {
      height: auto;
      padding-top: 5px;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      border: none;
      border-radius: 0;
    }

    &.is-info-th {
      @include typography-secondary-bold-16;
    }

    &.is-info-red {
      color: $color-red-1;
    }

    &.is-value-th {
      @include typography-secondary-bold-16;
    }

    &.is-value-blue {
      color: $color-blue-1;
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Checkbox
  // ============================================================
  .checkbox {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: relative;

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    input {
      opacity: 0;
      position: absolute;
      z-index: $z-index-1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:checked {
        + .checkbox-control {
          .checkbox-box {
            background-color: $color-blue-1;
            border: 1px solid $color-blue-1;
          }

          .checkbox-box-icon {
            opacity: 1;
          }
        }
      }
    }

    .checkbox-control {
      pointer-events: none;
      display: flex;
      align-items: center;
    }

    .checkbox-box {
      transition: $transition-default;
      position: relative;
      width: 22px;
      height: 22px;
      margin-right: 15px;
      background-color: $color-white;
      border: 1px solid $color-gray-9;
      border-radius: 6px;
    }

    .checkbox-box-icon {
      transition: $transition-default;
      transform: translate(-50%, -50%);
      opacity: 0;
      position: absolute;
      z-index: $z-index-1;
      top: 50%;
      left: 50%;
    }

    .checkbox-label {
      @include typography-secondary-bold-16;
      position: relative;
      top: 1px;
      color: $color-gray-1;
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Radio
  // ============================================================
  .radio {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: relative;

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    input {
      opacity: 0;
      position: absolute;
      z-index: $z-index-1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:checked {
        + .radio-control {
          .radio-box {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }

    .radio-control {
      pointer-events: none;
      display: flex;
      align-items: center;
    }

    .radio-box {
      transition: $transition-default;
      position: relative;
      width: 22px;
      height: 22px;
      margin-right: 15px;
      background-color: $color-white;
      border: 1px solid $color-gray-9;
      border-radius: 11px;

      &:after {
        content: ' ';
        transition: $transition-default;
        transform: translate(-50%, -50%);
        opacity: 0;
        position: absolute;
        z-index: $z-index-1;
        top: 50%;
        left: 50%;
        display: block;
        width: 10px;
        height: 10px;
        background-color: $color-blue-1;
        border-radius: 5px;
      }
    }

    .radio-label {
      @include typography-secondary-bold-16;
      position: relative;
      top: 1px;
      color: $color-gray-1;
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Panel
  // ============================================================
  .panel {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Table
  // ============================================================
  .table {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    thead,
    tbody {
      td {
        padding: 0 20px;

        &.is-status-symbol {
          min-width: 50px;
          text-align: center;
        }

        &.is-avatar {
          min-width: 130px;
          text-align: center;
        }

        &.is-progress-icon {
          min-width: 60px;
          text-align: center;
        }

        &.is-status {
          min-width: 150px;
        }

        &.is-booking {
          min-width: 150px;
        }

        &.is-station {
          min-width: 130px;
        }

        &.is-customer {
          min-width: 150px;
          max-width: 170px;
        }

        &.is-series {
          min-width: 150px;
          max-width: 190px;
        }

        &.is-pickup {
          min-width: 150px;
          max-width: 250px;
        }

        &.is-return {
          min-width: 150px;
          max-width: 250px;
        }

        &.is-action {
          text-align: right;
        }
      }
    }

    thead {
      tr {}

      td {
        height: 66px;
        background-color: $color-gray-5;
        border-bottom: 1px solid $color-white;
        vertical-align: middle;

        &:first-child {
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
        }

        &:last-child {
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
        }

        &.is-bg-gray {
          background-color: $color-gray-6;
        }
      }
    }

    tbody {
      tr {
        &.is-new,
        &.is-finish {
          .table-symbol {
            display: none;
          }
        }

        &.is-new {
          .table-text {
            color: $color-blue-1;
          }
        }

        &.is-finish,
        &.is-cancel {
          td {
            background-color: $color-gray-5;

            &.is-bg-gray {
              background-color: $color-gray-6;
            }
          }
        }
      }

      td {
        padding-top: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-gray-4;

        &.is-avatar {
          padding-top: 20px;
        }

        &.is-bg-gray {
          background-color: $color-gray-7;
        }

        &.is-vertical-center {
          vertical-align: middle;
        }
      }
    }

    .table-text {
      &.is-ellipsis {
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.is-heading {
        @include typography-primary-bold-14;
        color: $color-gray-2;
      }

      &.is-heading-status {
        @include typography-primary-bold-14;
        color: $color-gray-1;
      }

      &.is-status {
        @include typography-secondary-bold-16;
        color: $color-gray-1;
      }

      &.is-status-none {
        @include typography-primary-bold-14;
        color: $color-gray-2;
      }

      &.is-info,
      &.is-main-info {
        @include typography-primary-medium-16;
        color: $color-gray-1;
      }

      &.is-main-info,
      &.is-address {
        width: 100%;
        margin-bottom: 5px;
      }

      &.is-minor-info {
        @include typography-primary-medium-16;
        color: $color-gray-2;
      }

      &.is-address {
        @include typography-secondary-bold-16;
        color: $color-blue-1;
      }
    }

    .table-button {
      display: inline-block;

      &.is-assign {
        width: 100px;
      }

      &.is-name {
        display: block;
        padding-top: 10px;
      }
    }

    .table-image {
      overflow: hidden;
      position: relative;
      display: inline-block;
      vertical-align: middle;

      .table-image-ratio {
        position: absolute;
        z-index: $z-index-1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.is-avatar {
        width: 86px;
        padding-bottom: 84px;
        border: 1px solid $color-gray-3;
        border-radius: 42px;
      }
    }

    .table-symbol {
      width: 16px;
      height: 16px;
      margin-bottom: 10px;
      border-radius: 8px;

      &.is-new {
        background-color: $color-blue-1;
      }

      &.is-cancel {
        background-color: $color-red-1;
      }
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
