// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Loading
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.loading {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  transition: $transition-default;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: $z-index-4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-overlay-1;
  display: flex;
  justify-content: center;
  align-items: center;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .line-spin-fade-loader {
    transform: scale(0.65);
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-active {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
