// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Menu
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

.menu {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  animation-name: fadeIn;
  animation-duration: 0.3s;
  position: absolute;
  z-index: $z-index-4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .menu-button {
    transition: $transition-default;
    cursor: pointer;
    position: relative;
    z-index: $z-index-3;

    &:active {
      opacity: 0.75;
    }
  }

  .menu-overlay {
    position: fixed;
    z-index: $z-index-2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-overlay-1;
  }

  .menu-container {
    animation-name: moveUp;
    animation-duration: 0.3s;
    position: absolute;
    z-index: $z-index-3;
    top: 100%;
    right: 0;
    width: 460px;
    padding: 15px 0;
    margin-top: 25px;
    background-color: $color-gray-3;
    border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .menu-sub-container {
    transition: $transition-default;
    transform: translateX(25px);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: $z-index-3;
    top: -5px;
    right: 100%;
    padding-right: 25px;
  }

  .menu-list {
    transition: $transition-default;
    position: relative;

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:after {
      content: ' ';
      position: absolute;
      z-index: $z-index-1;
      bottom: 0;
      right: 0;
      left: 80px;
      display: block;
      height: 1px;
      background-color: $color-gray-9;
    }

    &:before {
      content: ' ';
      transition: $transition-default;
      opacity: 0;
      transform: translateY(-50%);
      position: absolute;
      z-index: $z-index-1;
      top: 50%;
      left: 42px;
      display: block;
      width: 14px;
      height: 14px;
      background-color: $color-primary;
      border-radius: 7px;
    }

    &:hover,
    &:focus,
    &.is-active {
      &:before {
        opacity: 1;
      }

      .menu-list-button {
        color: $color-primary;
      }

      .menu-sub-container {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .menu-sub-inner-container {
    width: 325px;
    padding: 5px 0;
    background-color: $color-gray-3;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .menu-sub-list {
    transition: $transition-default;
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    padding-right: 30px;
    padding-left: 30px;

    &:hover,
    &.is-active {
      .menu-sub-list-button {
        color: $color-primary;
      }
    }
  }

  .menu-list-button,
  .menu-sub-list-button {
    @include typography-secondary-bold-20;
    display: flex;
    align-items: center;
    height: 80px;

    color: $color-gray-1;

    &:hover {
      background-color: transparent;
    }
  }

  .menu-list-button {
    padding: 0 30px 0 80px;
  }

  .menu-sub-list-button {}

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-active {
    display: block;
  }

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
