// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Modal
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-custom {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  animation-name: fadeIn;
  animation-duration: 0.3s;
  overflow: auto;
  position: fixed;
  z-index: $z-index-5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .modal-custom-position-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }

  .modal-custom-container {
    animation-name: moveUp;
    animation-duration: 0.3s;
    position: relative;
    z-index: $z-index-2;
    width: 100%;
    max-width: $modal-width;
    margin: 30px;
  }

  .modal-custom-overlay {
    position: fixed;
    z-index: -1; // Fix z-index in iPhone safari
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-overlay-1;
  }

  .modal-custom-content {
    padding: 40px 50px 50px;
    background-color: $color-white;
    border-radius: 6px;
  }

  .modal-custom-text {
    &.is-heading {
      @include typography-primary-bold-22;
      color: $color-gray-1;
    }

    &.is-heading-th {
      @include typography-secondary-bold-22;
      color: $color-gray-1;
    }

    &.is-heading-button {
      @include typography-primary-bold-22;
      position: relative;
      top: 11px;
      color: $color-gray-1;
    }

    &.is-label {
      @include typography-primary-bold-10;
      color: $color-gray-2;
    }

    &.is-label-horizontal {
      @include typography-primary-bold-18;
      color: $color-gray-1;
    }

    &.is-id {
      @include typography-primary-medium-16;
      color: $color-primary;
    }

    &.is-info-label {
      @include typography-primary-bold-12;
      width: 100%;
      margin-bottom: 5px;
      color: $color-gray-2;
    }

    &.is-info {
      @include typography-primary-medium-16;
      color: $color-gray-1;
    }

    &.is-info-th {
      @include typography-secondary-bold-16;
      color: $color-gray-1;
    }

    &.is-datetime {
      @include typography-primary-bold-16;
      color: $color-gray-2;
    }

    &.is-date {
      @include typography-secondary-bold-16;
      color: $color-gray-2;
    }

    &.is-calculation {
      @include typography-secondary-bold-16;
      color: $color-gray-2;
    }

    &.is-success-th {
      @include typography-secondary-bold-16;
      color: $color-green-1;
    }

    &.is-waiting-th {
      @include typography-secondary-bold-16;
      color: $color-orange-1;
    }

    &.is-link-th {
      @include typography-secondary-bold-16;
      color: $color-blue-1;
    }

    &.is-error-th {
      @include typography-secondary-bold-16;
      color: $color-red-1;
    }

    &.is-error {
      &.is-datetime,
      &.is-info {
        color: $color-red-1;
      }
    }
  }

  .modal-custom-partition {
    height: 1px;
    background-color: $color-gray-4;
  }

  .modal-custom-spacing {
    &.is-header {
      padding-top: 7px;
      padding-bottom: 16px;
    }

    &.is-header-id {
      height: 15px;
    }

    &.is-section {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &.is-section-small {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &.is-field {
      height: 20px;
    }

    &.is-footer {
      height: 20px;
    }

    &.is-form-login {
      height: 30px;
    }
  }

  .modal-custom-section {
    &.is-id {
      position: relative;
      top: 3px;
    }

    &.is-heading {
      @include typography-primary-medium-12;
      width: 100%;
      padding: 13px 17px 12px 17px;
      background-color: $color-gray-3;
      border-radius: 5px;
      color: $color-gray-1;
    }

    &.is-heading-th {
      @include typography-secondary-bold-12;
      width: 100%;
      padding: 13px 17px 12px 17px;
      background-color: $color-gray-3;
      border-radius: 5px;
      color: $color-gray-1;
    }

    &.is-heading-status {
      @include typography-primary-medium-12;
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 40px;
      padding-right: 8px;
      padding-left: 17px;
      background-color: $color-gray-3;
      border-radius: 5px;
      color: $color-gray-1;
    }

    &.is-content-inner {
      padding: 20px 17px 30px;
    }

    &.is-content-payment-info {
      min-height: 300px;
    }

    &.is-payment-status {
      width: 155px;
      margin: auto;
    }

    &.is-payment-price {
      width: 100px;
      text-align: right;
    }

    &.is-form-login {
      width: 95px;
    }
  }

  .modal-custom-lists {
    &.is-payment-info,
    &.is-attach-file {
      .modal-custom-list {
        padding-top: 7px;
        padding-bottom: 7px;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    &.is-form-horizontal {
      .modal-custom-list {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.is-short-term-slip {
      .modal-custom-list {
        margin-bottom: 7px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-active {
    display: block;
  }

  &.is-left-bottom {
    .modal-custom-position-container {
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  &.is-login {
    z-index: $z-index-6;

    .modal-custom-container {
      max-width: 430px;
    }

    .modal-custom-content {
      padding: 35px 30px 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
  }

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
