// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Signature
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.signature {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .sigPad {
    width: auto;
  }

  .sigWrapper {
    position: relative;
    overflow: hidden;
    height: auto;
    border: none;
    border-radius: 10px;

    &:after {
      content: " ";
      pointer-events: none;
      position: absolute;
      z-index: $z-index-1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: rgba(255, 222, 222, 0.2);
    }
  }

  .pad {}

  .sigNav {
    padding: 10px 0 0;
    height: auto;
  }

  .clearButton {
    position: static;
    right: 0;
    bottom: 0;
    text-align: center;

    a {
      @include typography-tertiary-semibold-12;
      display: inline;
      padding: 0;
      font-size: 0;

      &:after {
        content: "ล้างลายเซนต์";
        @include typography-tertiary-semibold-12;
        color: $color-blue-1;
        text-decoration: underline;
      }
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
