// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Status bar
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.statusbar {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .statusbar-section {
    &.is-left {
    }

    &.is-right {
    }
  }

  .statusbar-text {
    &.is-heading {
      @include typography-primary-bold-24;
      color: $color-gray-1;
    }

    &.is-total {
      @include typography-primary-medium-16;
      color: $color-primary;
      padding-bottom: 3px;
    }

    &.is-status {
      @include typography-primary-medium-16;

      &.is-status-new {
        color: $color-blue-1;
      }

      &.is-status-onprocess {
        color: $color-green-1;
      }

      &.is-status-finish {
        color: $color-primary;
      }
    }
  }

  .statusbar-symbol {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;

    &.is-new {
      background-color: $color-blue-1;
    }

    &.is-onprocess {
      background-color: $color-green-1;
    }

    &.is-finish {
      background-color: $color-primary;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
