// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Topbar
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.topbar {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .topbar-section {
    &.is-left {
      display: flex;
    }

    &.is-right {
      position: relative;
      top: -5px;
    }
  }

  .topbar-image {
    &.is-logo {
      margin-right: 95px;
    }
  }

  .topbar-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;

    &:after {
      content: ' ';
      display: inline-block;
      width: 27px;
      height: 5px;
      margin-top: 16px;
      background-color: $color-primary;
    }
  }

  .topbar-info {
    text-align: right;
  }

  .topbar-text {
    &.is-page-name {
      @include typography-primary-bold-20;
      color: $color-primary;
    }

    &.is-user-name {
      @include typography-primary-medium-18;
      color: $color-gray-1;
    }

    &.is-user-role {
      @include typography-primary-medium-14;
      position: relative;
      top: -3px;
      color: $color-gray-2;
    }
  }

  .topbar-button {
    position: relative;
  }

  .topbar-icon {
    transition: $transition-default;
    cursor: pointer;

    &:active {
      opacity: 0.75;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
